.landing {
	background-image: url('../../Images/landingBackground/img10.png');
	background-repeat: no-repeat;
	background-position: -10% -5%;
	height: 100vh;
	width: auto;

	.background{
		height: 500px;
		width: auto;
	}
}